/* ANIMACION */

.animacion-hover:hover {
    animation: subida_bajada 1s infinite;
}

@keyframes subida_bajada {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.animacion-brillo:hover {
    animation: auto_brillo 1s 1;
}

@keyframes auto_brillo {
    0% {
        filter: brightness(1.1);
    }
    50% {
        filter: brightness(0.8);
    }
    100% {
        filter: brightness(1.1);
    }
}