.carrusel {
    position: relative;
    width: 100%;
    max-width: 80%;
    margin: auto;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.carrusel .contenedor_imagenes_carrusel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 1px;
}

.carrusel .imagen_carrusel img {
    width: 100%;
    height: auto;
}

.carrusel .imagen_carrusel {
    flex: 1;
    min-width: calc(100% / 3 - 10px); /* Show 3 images at a time with a gap */
}

.carrusel .boton_carrusel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;
}

.carrusel .boton_carrusel:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.carrusel .boton_carrusel.prev {
    left: 10px;
}

.carrusel .boton_carrusel.next {
    right: 10px;
}
