.carrusel {
    position: relative;
    width: 100%;
    max-width: 90%;
    margin: auto;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
}

.carrusel .contenedor_imagenes_carrusel {
    display: flex;
    justify-content: space-evenly;
    transition: transform 0.5s;
    gap: 0;
}

.carrusel .imagen_carrusel img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    border: none;
}

.carrusel .imagen_carrusel img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carrusel .imagen_carrusel {
    flex: 0 0 calc(100% / 3);
    box-sizing: border-box;
}

.carrusel .boton_carrusel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;
}

.carrusel .boton_carrusel:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.carrusel .boton_carrusel.anterior {
    left: 10px;
}

.carrusel .boton_carrusel.siguiente {
    right: 10px;
}

@media (max-width: 900px) {
    .carrusel .imagen_carrusel {
        flex: 0 0 calc(100% / 2);
    }
}

@media (max-width: 600px) {
    .carrusel .imagen_carrusel {
        flex: 0 0 100%;
    }
}