
/*
    Botones Filtros
 */

.botones-filtros {
    position: absolute;
    right: -20px;
    transform: translateY(-50%);
    display: grid;
    gap: 10px;
    grid-template-rows: 1fr 1fr;
    z-index: 1001;
    top: 10%;
}

.botones-filtros .texto-lado-boton {
    display: none;
    position: absolute;
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 14px;
    background-color: #333;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1001;
}

.abrirFiltro:hover .texto-lado-boton,
.limpiarFiltro:hover .texto-lado-boton {
    display: block;
}

.botones-filtros .abrirFiltro {
    background-color: #008cba;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    cursor: pointer;

}

.botones-filtros .limpiarFiltro {
    background-color: #b12727;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    cursor: pointer;

}

.abrirFiltro:hover {
    transform: translateX(25%) scale(1.1);
    background-color: #005f7f;
}

.limpiarFiltro:hover {
    transform: translateX(25%) scale(1.1);
    background-color: #7f1d1d;
}

/* Filtro */

/* Contenedor de Filtros */
.contenedorFiltro {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #111;
    transition: width 0.5s ease;
    padding-top: 60px;
}

.contenedorFiltro.open {
    width: 300px; /* Ajusta el ancho del contenedor */
}

.contenedorFiltro h2 {
    font-size: 24px;
    color: white;
    padding: 20px;
}

.contenedorFiltro p {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contenedorFiltro .cuadroFiltro {
    padding: 20px;
    color: white;
    overflow-x: hidden;
}

.contenedorFiltro .filtros {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.contenedorFiltro .entradaFiltro {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

.contenedorFiltro.open {
    width: 300px;
}

@media screen and (max-height: 450px) {
    .contenedorFiltro {padding-top: 15px;}
    .contenedorFiltro h2 {font-size: 18px;}
    .contenedorFiltro .entradaFiltro {font-size: 14px;}
}

@media screen and (max-width: 768px) {
    .contenedorFiltro.open {
        width: 100%;
    }

    .botonAbrirFiltro {
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .limpiarFiltro {
        bottom: 40px;
        left: 0;
        width: 100%;
    }

}