
/*
    Botones Filtros
 */

.botonesFiltros {
    position: fixed;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 5px;
    z-index: 999;
}

.botonAbrirFiltro {
    bottom: 65px;
    left: 20px;
    background-color: #4CAF50;
}

.botonAbrirFiltro:hover {
    background-color: #3e8e41;
}

.limpiarFiltro {
    bottom: 20px;
    left: 20px;
    background-color: #f44336;
}

.limpiarFiltro:hover {
    background-color: #da190b;
}

/*
    Filtro
 */

.contenedorFiltro {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.contenedorFiltro h2 {
    font-size: 24px;
    color: white;
    padding: 20px;
}

.contenedorFiltro p {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contenedorFiltro .cuadroFiltro {
    padding: 20px;
    color: white;
}

.contenedorFiltro .botonCerrarFiltro {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    color: #a34343;
    cursor: pointer;
}

.contenedorFiltro .botonCerrarFiltro:hover, .botonCerrarFiltro:focus {
    color: #ff0000;
    text-decoration: none;
    cursor: pointer;
}

.contenedorFiltro .filtros {
    display: flex;
    flex-direction: column;
}

.contenedorFiltro .entradaFiltro {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

.contenedorFiltro.open {
    width: 300px;
}

@media screen and (max-height: 450px) {
    .contenedorFiltro {padding-top: 15px;}
    .contenedorFiltro h2 {font-size: 18px;}
    .contenedorFiltro .entradaFiltro {font-size: 14px;}
}

@media screen and (max-width: 768px) {
    .contenedorFiltro.open {
        width: 100%;
    }

    .botonAbrirFiltro {
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .limpiarFiltro {
        bottom: 40px;
        left: 0;
        width: 100%;
    }

}