
.contFormContacto {
    max-width: 50%;
    width: 30%;
    padding: 3%;
    background-color: var(--fondo-formulario);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: var(--color-texto);
}

.contFormContacto h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contFormContacto h3 {
    text-align: center;
    margin-bottom: 20px;
    padding: 0 10%;
}

.contFormContacto .requiere {
    color: red;
}

.contFormContacto .opciones {
    margin-bottom: 15px;
}

.contFormContacto .FormError {
    color: #ff0018;
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 0 1px 0 #000000;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.contFormContacto label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contFormContacto input, textarea, select {
    width: 99%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.contFormContacto .opciones select:hover {
    outline: none;
}

.contFormContacto .opciones input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="date"]:focus, textarea:focus, select:focus {
    border: 2px solid #007bff;
    outline: none;
}

.contFormContacto textarea {
    resize: vertical;
    min-height: 100px;
}

.contFormContacto button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.contFormContacto button:hover {
    background-color: #0056b3;
}

.contFormContacto .centrarcuadros {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contFormContacto .grupocheck, .gruporadio {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    margin: 20px 0;
    background-color: var(--fondo-principal);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.contFormContacto .grupocheck h3 {
    margin-bottom: 10px;
}

.contFormContacto .contenedorCheck {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.contFormContacto .contenedorCheck:hover {
    background-color: #f0f0f0;
    color: #000000;
}

.contFormContacto input[type="checkbox"] {
    accent-color: #007bff;
    width: 18px;
    height: 18px;
}

.contFormContacto .gruporadio h3 {
    margin-bottom: 10px;
    color: #333;
}

.contFormContacto .contenedorRadio {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.contFormContacto .contenedorRadio:hover {
    background-color: #f0f0f0;
}

.contFormContacto input[type="radio"] {
    accent-color: #007bff; /* Modifica el¡r color del radio */
    width: 18px;
    height: 18px;
}

.contFormContacto .contenedorRadio span {
    color: #555;
}

@media (max-width: 1500px) {
    .contFormContacto {
        width: 60%;
    }
}

/* Si la anchura de la pantalla es menor a 1200px */
@media (max-width: 1200px) {
    .contFormContacto .centrarcuadros {
        flex-direction: column;
        gap: 0;
    }
    .contFormContacto {
        max-width: 95%;
    }
}

/* Si la anchura de la pantalla es menor a 800px */
@media (max-width: 768px) {
    .contFormContacto {
        width: 80%;
    }
    .contFormContacto .grupocheck, .gruporadio {
        padding: 10px;
    }
    .contFormContacto .grupocheck h3, .contFormContacto .gruporadio h3 {
        font-size: 1.5em;
    }
    .contFormContacto .contenedorCheck, .contFormContacto .contenedorRadio {
        padding: 5px;
    }
    .contFormContacto .contenedorCheck span, .contFormContacto .contenedorRadio span {
        font-size: 1.2em;
    }
    .contFormContacto .FormError {
        font-size: 1em;
    }
}