
h1 {
    text-align: center;
    font-size: 2em;
    margin: 20px 0;
    font-weight: bold;
}

.contFormContacto {
    max-width: 50%;
    padding: 1%;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.contFormContacto h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contFormContacto p {
    text-align: center;
    margin-bottom: 20px;
}

.contFormContacto .requiere {
    color: red;
}

.contFormContacto .opciones {
    margin-bottom: 15px;

}

.contFormContacto label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contFormContacto input, textarea, select {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.contFormContacto textarea {
    resize: vertical;
    min-height: 100px;
}

.contFormContacto button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.contFormContacto button:hover {
    background-color: #0056b3;
}

.contFormContacto .centrarcuadros {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contFormContacto .grupocheck, .gruporadio {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    margin: 20px 0;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.contFormContacto .grupocheck h3 {
    margin-bottom: 10px;
    color: #333;
}

.contFormContacto .contenedorCheck {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.contFormContacto .contenedorCheck:hover {
    background-color: #f0f0f0;
}

.contFormContacto input[type="checkbox"] {
    accent-color: #007bff;
    width: 18px;
    height: 18px;
}

.contFormContacto .contenedorCheck span {
    color: #555;
}

.contFormContacto .gruporadio h3 {
    margin-bottom: 10px;
    color: #333;
}

.contFormContacto .contenedorRadio {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.contFormContacto .contenedorRadio:hover {
    background-color: #f0f0f0;
}

.contFormContacto input[type="radio"] {
    accent-color: #007bff; /* Modifica el¡r color del radio */
    width: 18px;
    height: 18px;
}

.contFormContacto .contenedorRadio span {
    color: #555;
}

/* Si la anchura de la pantalla es menor a 1200px */
@media (max-width: 1200px) {
    .contFormContacto .centrarcuadros {
        flex-direction: column;
        gap: 20px;
    }
    .contFormContacto {
        max-width: 95%;
    }
}

/* Si la anchura de la pantalla es menor a 800px */
@media (max-width: 768px) {
    .contFormContacto .grupocheck, .gruporadio {
        padding: 10px;
    }
    .contFormContacto .grupocheck h3, .contFormContacto .gruporadio h3 {
        font-size: 1.5em;
    }
    .contFormContacto .contenedorCheck, .contFormContacto .contenedorRadio {
        padding: 5px;
    }
    .contFormContacto .contenedorCheck span, .contFormContacto .contenedorRadio span {
        font-size: 1.2em;
    }
}