/* GALERIA */

.seccion-galeria {
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    background-color: var(--fondo-formulario);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.seccion-galeria h3 {
    font-size: 1.5em;
    color: var(--color-texto);
    margin-bottom: 15px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    text-align: center;
}

.galeria-raza {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 15px;
    margin: 20px 0;
    padding: 10px;
    background-color: var(--fondo-principal);
    border-radius: 10px;
}

.galeria-raza img.muestra {
    width: 100%;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.galeria-raza img.muestra:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos del modal */
.modal-raza {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-contenido-raza {
    display: flex;
    position: relative;
    background-color: var(--fondo-principal);
    border-radius: 10px;
    width: 55%;
}

.modal-contenido-raza img.imagen-grande {
    width: 100%;
    border-radius: 10px;
    margin: 0;
}

@media (max-width: 900px) {
    .modal-contenido-raza {
        width: 80%;
    }
    .galeria-raza {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    .modal-contenido-raza {
        width: 90%;
    }
}