.contenedorRazas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 50%;
}

.contenedorRazas .cartaRazas {
    border: 1px solid var(--fondo-principal);
    border-radius: 8px;
    overflow: hidden;
    background: var(--fondo-formulario);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.cartaRazas img {
    width: 100%;
    transition: transform 0.3s, filter 0.3s;
}

.cartaRazas:hover img {
    transform: scale(1.1);
    filter: brightness(0.8);
}

.cartaRazas:hover .descripcion {
    opacity: 1;
    visibility: visible;
}

.cartaRazas h3 {
    margin: 15px 0;
    font-size: 18px;
    color: var(--color-texto);
}

.descripcion {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    border-radius: 5px;
}

.image-container {
    position: relative;
}

@media screen and (max-width: 1200px) {
    .contenedorRazas {
        width: 70%;
    }
}

@media screen and (max-width: 900px) {
    .contenedorRazas {
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .contenedorRazas {
        grid-template-columns: 1fr;
        width: 100%;
    }
}