/* DESCRIPCION */

.carta-texto-raza {
    font-family: Arial, sans-serif;
    border: 1px solid var(--fondo-principal);
    border-radius: 10px;
    padding: 20px;
    max-width: 80%;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--fondo-formulario);
}

.carta-texto-raza h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    text-align: center;
    color: var(--color-texto);
}

.carta-texto-raza p {
    font-size: 1em;
    line-height: 1.6;
    padding: 1%;
    margin-bottom: 15px;
    text-align: justify;
    color: var(--color-texto);
}

@media (max-width: 1200px) {
    .carta-texto-raza {
        max-width: 90%;
    }
}

@media (max-width: 900px) {
    .carta-texto-raza {
        max-width: 100%;
    }
}

@media (max-width: 600px) {
    .carta-texto-raza {
        padding: 10px;
    }

    .carta-texto-raza h2 {
        font-size: 1.5em;
    }

    .carta-texto-raza p {
        font-size: 0.9em;
    }
}

@media (max-width: 400px) {
    .carta-texto-raza h2 {
        font-size: 1.2em;
    }

    .carta-texto-raza p {
        font-size: 0.8em;
    }
}

/* ESTADISTICAS */

.estadisticas-raza {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

@media (max-width: 900px) {
    .estadisticas-raza {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        gap: 15px;
    }
}

.seccion-raza {
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    background-color: var(--fondo-formulario);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.seccion-raza h3 {
    font-size: 1.5em;
    color: var(--color-texto);
    margin-bottom: 15px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    text-align: center;
}

.seccion-raza p {
    font-size: 1em;
    color: var(--color-texto);
    line-height: 1.6;
    margin-bottom: 10px;
}

.negrita-raza {
    font-weight: bold;
    color: var(--color-texto);
}