
:root {
    --color-linea-var-foto: #ff6a00;
    --fondo-principal: #ffffff;
    --fondo-formulario: #f0f0f0;
    --color-texto: #000000;

    --color-fondo-error1: #f0f4f8;
    --color-fondo-error2: #d9e2ec;
    --color-letras-error1: #4b5d6c;
    --color-letras-error2: #102a43;
    --color-letras-error3: #627d98;

    --color-letras-test: #4b5d6c;
    --color-fondo-test: #d9e2ec;
    --color-bordes-test: #4b5d6c;
}

.dark-mode {
    --color-linea-var-foto: #ff6a00;
    --fondo-principal: #888888;
    --fondo-formulario: #666666;
    --color-texto: #ffffff;

    --color-fondo-error1: #888888;
    --color-fondo-error2: #123456;
    --color-letras-error1: #ffffff;
    --color-letras-error2: #ffffff;
    --color-letras-error3: #ffffff;

    --color-letras-test: #ffffff;
    --color-fondo-test: #0c4573;
    --color-bordes-test: #0e7cd3;
}